{{!< default}}
  <main>
    <section class="black-section" style="min-height: 100vh;">
      <div class="container">
        <div class="row">
          {{#each competitions}}
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/{{this.key}}">
                <div class="competition-card">
                  <div class="graphic-wrapper">
                    <div class="graphic-overlay"></div>
                    <div class="graphic" style="background-image: url('/uploads/{{this.coverImage.filename}}');"></div>
                  </div>
                  <div class="info">
                    <h3>{{this.name}}</h3>
                  </div>
                </div>
              </a>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  </main>