{{!< default}}
  	<main>
	  	<div class="subheader" id="subheader-section" style="background-image:url('/images/kogeriet.jpg')">
		    <article>
		    	<div class="container">
					<h1 style="font-size:60px;font-weight:bold;">OM <br> KOGERIET</h1>
		    	</div>
		    </article>
	  	</div>
	  	<section>
	  		<div class="container">
		  		<h1>Om Os</h1>
		  		<h2>VELKOMMEN I KOGERIET</h2>
		  		<p>Historie, fælleskab og benhård træning</p>
				<p>I Kogeriet er der fyldt med historie, fællesskaber og benhård træning.</p>
				<p>Vi synes det er sjovere at træne når man gør det sammen med andre. Vi prioriterer fællesskabet højt, og vores event team sørger for sjove indslag og tematræning.</p>
				<p>Vi har mange forskellige hold, masser af open gym og i eftermiddagstimerne summer hele det gamle asfaltkogeri af god stemning, hårdt arbejde, masser af personlige rekorder og high fives!</p>
				<p>I kogeriet har vi fokus på den enkelte persons udvikling i fællesskab. Alle er på en træningsrejse og vi hepper på hinanden hele vejen!</p>
				<p>Vi har et fantastisk team af trænere, der glæder sig til at fejre dine sejre, følge din udvikling og motivere dig så din træning bliver en positiv oplevelse. Vi er her for dig og vil hjælpe dig med at tilpasse træningen til dig.</p>
				<p>I hjertet af Kogeriet er vores reception, her er der plads til at hyggesnakke på bænken efter træning. Vi er ofte til stede om eftermiddagen, hvis du har brug for en snak, skal købe nyt træningsgear eller hvis du har spørgsmål.</p>
				<p>Rigtig god træning,</p>
				<p><em>Fra hele team Kogeriet</em></p>
				</p>
	  		</div>
	  	</section>
	  	<section class="gray-section">
  			<div class="container container-aside">
		  		<h1>Om Kogekampen</h1>
				<p>Kogekampen er en tilbagevendende konkurrence, hvor crossfit og fitness atleter har mulighed for at kæmpe mod hinanden i Kogeriets lokaler på Frederiksberg.</p>
				<p>Den første kogekamp blev initieret af Christian Thorhauge Sørensen og er siden blevet en fast del af Kogeriets events. Kogekampens fokus er funktionel træning med fokus på vægtløftning, styrke og stamina.</p>
			</div>
	  		<div class="background-cover background-cover-aside" style="background-image:url('/images/maal.jpg');"></div>
	  	</section>
	  	<section class="p-0">
	  		<div class="background-cover" style="background-image:url('/images/open-gym.jpg')"></div>
	  	</section>
  	</main>