{{!< default}}
  	<main>
	  	<div class="subheader" id="subheader-section" style="background-image:url('/images/kogeriet.jpg')">
		    <article>
		    	<div class="container">
					<h1 style="font-size:50px;">TEAMS</h1>
		    	</div>
		    </article>
	  	</div>
	</main>